.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 5px;
  background: none;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.button:hover,
.button:focus {
  transition: 0.3s ease;
  background-color: black;
  color: white;
}

.button:active {
  opacity: 0.9;
}

.fullWidth {
  width: 100%;
}
